tr:first-child
{
    background-color: black;
    color: white;
    border-collapse: collapse;
    padding: 8px;
}

.youtube
{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px;
    transition: all 0.3s ease-in-out;
}
.youtube:hover
{
transform: scale(1.1);
}

.x
{
    color: white;
    width: 15px;
    height: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px;
    transition: all 0.3s ease-in-out;
}
.x:hover
{
transform: scale(1.1);
}

.face
{
    color: rgb(0, 0, 0);
    width: 15px;
    height: 15px;
    background-color: rgb(0, 140, 255);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px;
    transition: all 0.3s ease-in-out;
}
.face:hover
{
transform: scale(1.1);
}
